[package]
name = "utils"
edition.workspace = true
version.workspace = true
authors.workspace = true
license.workspace = true
publish.workspace = true

[dependencies]
anyhow = "1"
colored = "3"
flexi_logger = "0.31"
log = "0.4"
